<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Wtor.steam allows you to stream all the newest movies online in HD and for free" />
        <title>wtor movies</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <!-- Menu -->
        <% include templates/menu.ejs %>
        <!-- List -->
        <div class="listing">
            <div id="freewall" class="free-wall" style="position: relative">
                <% include templates/list.ejs %>
            </div>
            <% if (info.length >= 50) { %><a class="btn loadmore waves-effect" page="2?<%=query %>" onclick="$.loadmore(this.getAttribute('page'))">load more</a><% } %>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.js"></script>
        <script src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
        <script src="/javascripts/movies.js"></script>
    </body>
</html>
