<div class="searching">
    <div class="row">
        <form class="col s12">
            <div class="logocontainer">
                <img class="searchlogo" src="http://i.imgur.com/XV0psJa.png" height="200px" width="auto" />
                <p style="">.stream</p>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-s3">
                    <input id="icon_prefix" type="text">
                    <label for="icon_prefix">Search Movies</label>
                </div>
                <div class="input-field col s2">
                    <select>
                          <option value="trending">Trending</option>
                          <option value="rating">Rating</option>
                          <option value="year">Year</option>
                          <option value="updated">Updated</option>
                        </select>
                    <label>Sort for</label>
                </div>
            </div>
            <a class="waves-effect waves-light btn-large searchbtn">Search</a>
        </form>
    </div>
</div>
